body{
	background-image: src("https://www.reddit.com/media?url=https%3A%2F%2Fpreview.redd.it%2Falphas-what-do-we-think-of-tung-tung-tung-sahur-v0-t20nfsv8guwe1.jpeg%3Fwidth%3D320%26crop%3Dsmart%26auto%3Dwebp%26s%3Dd0627c510bfa1afbc2f44b28ceb9b42fded059fb");
	background-position: 50% 50%;
}
